/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*#map-container { height: 180px; } */

#mapid { height: 250px; }

.item img {
  max-height: 400px;
  margin: auto;
}














